[core]
  excludesfile = ~/.gitignore
  editor = vim
  pager = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less
[user]
  name = Joao Bernardo
  email = jb.amaro95@gmail.com
  signingkey = 87FE6728A572C3B0411947D4354C0601B1223F58 
[github]
  user = jbernardo95
[color]
  ui = true
[commit]
  gpgsign = true
  verbose = true
[branch]
  autosetuprebase = always
  sort = -committerdate
[push]
  default = simple
[pull]
  rebase = true 
[merge]
  ff = only
  tool = opendiff
[rebase]
  autosquash = true
[diff]
  tool = opendiff
[difftool]
  prompt = false
[status]
  showUntrackedFiles = all
[alias]
  amend = "!f() { if [[ -z $1 ]]; then git commit --amend --no-edit; elif [[ $1 =~ "[0-9]+" ]]; then git commit --fixup HEAD~$1; GIT_EDITOR=true git rebase -i HEAD~$(expr $1 + 2); else echo \"Usage: git ammend <index>, where index is the index of the commit to ammend to\"; fi; }; f"
  backup = "!f() { current_branch=$(git rev-parse --abbrev-ref HEAD); git checkout -b $current_branch-backup; }; f"
  current = rev-parse HEAD
  feature = "!f() { git checkout -b $1 && git push -u origin $1; }; f"
  history = "!f() { git log -p -- $1; }; f"
  stash-all = stash save --include-untracked
  tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --branches
  upstream = rev-parse --abbrev-ref --symbolic-full-name @{u}
  uncommit = reset --soft HEAD^
  wip = commit -m "WIP"
