[core]
  excludesfile = ~/.gitignore
  editor = vim
[user]
  name = Joao Bernardo
  email = jb.amaro95@gmail.com
  signingkey = 87FE6728A572C3B0411947D4354C0601B1223F58 
[github]
  user = jbernardo95
[color]
  ui = true
[commit]
  gpgsign = true
[branch]
  autosetuprebase = always
[push]
  default = simple
[pull]
  rebase = true 
[merge]
  ff = only
[status]
  showUntrackedFiles = all
[alias]
  current = rev-parse HEAD
  amend = commit --amend --no-edit
  feature = "!f() { git checkout -b $1 && git push -u origin $1; }; f"
  pr = "!f() { hub pull-request -b $1; }; f"
  open = !hub browse
  upstream = rev-parse --abbrev-ref --symbolic-full-name @{u}
  uncommit = reset --soft HEAD^
  stash-all = stash save --include-untracked
  tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --branches
