[core]
  excludesfile = ~/.gitignore
  editor = vim
[user]
  name = Joao Bernardo
  email = jb.amaro95@gmail.com
  signingkey = CCDB419B5210006493675C571CA57868B2A28208
[github]
  user = jbernardo95
[color]
  ui = true
[pull]
  rebase = true 
[alias]
  ls = ls-files
  stash-all = stash save --include-untracked
  tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[status]
  showUntrackedFiles = all
[diff]
  tool = icdiff
[difftool]
  prompt = false
[difftool "icdiff"]
  cmd = icdiff --line-numbers $LOCAL $REMOTE
[commit]
  gpgsign = true
[branch]
  autosetuprebase = always
[push]
  default = simple
